@font-face {
    font-family: Horizon;
    src: url(../Fonts/Horizon/gc-horizon-1.ttf);
}

@font-face {
    font-family: Heading;
    src: url(../Fonts/heading_now/HeadingNowTrial-16Bold.ttf);
}

@font-face {
    font-family: oswald;
    src: url(../Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Anton;
    src: url(../Fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(../Fonts/ITC_Franklin_Gothic_LT_Medium/ITC_Franklin_Gothic_LT_Medium.otf);
}

@font-face {
    font-family: sim;
    src: url(../Fonts/heading_now/Coisax-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    height: 95vh;
}

main {
    background-color: #8b0000;
    font-family: Franklin;
    height: 75vh;
    width: 95vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 1vh;
}

#title img {
    top: 4vh;
    height: 20vh;
    width: 70vw;
    z-index: 1;
    position: absolute;
}

#title #txt {
    font-size: 6em;
    color: #ddc075;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    font-family: sim;
    align-items: center;
    justify-content: center;
    letter-spacing: -5px;
    word-spacing: -7px;
}

#title {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-title {
    font-size: 2.25em;
    text-align: center;
    color: #ddc075;
    font-weight: bold;
}

#btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 45vh;
}

.btn {
    background-color: black;
    color: #eaeaea;
    height: 12vh;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

#knif img {
    height: 12vh;
    width: 25vw;
    position: absolute;
    z-index: 2;
}

#detetive img {
    height: 25vw;
    width: 25vw;
    position: absolute;
    right: 0;
    top: 15vh;
    filter: brightness(0);
}

footer {
    color: #ddc075;
    font-family: Franklin;
    text-transform: uppercase;
    font-size: 1.30em;
    text-align: center;
    font-weight: bold;
    margin-top: 2vh;
}

#pe {
    font-size: .90em;
    font-weight: normal;
}

#sala {
    font-size: 2em;
    color: #e0ddcd;
    letter-spacing: -2px;
}

