@font-face {
    font-family: Horizon;
    src: url(../Fonts/Horizon/gc-horizon-1.ttf);
}
@font-face {
    font-family: Heading;
    src: url(../Fonts/heading_now/HeadingNowTrial-16Bold.ttf);
}
@font-face {
    font-family: oswald;
    src: url(../Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: Anton;
    src: url(../Fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: Franklin;
    src: url(../Fonts/ITC_Franklin_Gothic_LT_Medium/ITC_Franklin_Gothic_LT_Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}
main{
    background-color: #8b0000;
    font-family: Franklin;
    height: 75vh;
    width: 95vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#title img{
    height: 20vh;
    width: 56vw;
    overflow: 2;
    position: absolute;
    transform: rotate(0.015turn);
}
#title #txt{
    font-size: 6em;
    text-align: center;
    color: #ddc075;
    font-family: Heading;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
}
#title{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub-title{
    font-size: 2.25em;
    text-align: center;
    color: #ddc075;
    font-weight: bold;
}
#btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 45vh;
}
.btn{
    background-color: black;
    color: #eaeaea;
    height: 12vh;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}
#knif img{
    height: 17.5vh;
    width: 27.5vw;
    position: absolute;
}
#detetive img{
    height: 13.25vh;
    width: 20vw;
    position: absolute;
    right: 0;
    top: 10vh;
    filter: brightness(0);
}
footer{
    color: #ddc075;
    font-family: Franklin;
    text-transform: uppercase;
    font-size: 1.30em;
    text-align: center;
    font-weight: bold;
    margin-top: 5vh;
}
#pe{
    font-size: .90em;
    font-weight: normal;
}
#sala{
    font-size: 2em;
    color: #e0ddcd;
    letter-spacing: -2px;
}